{% extends 'base.html.twig' %}

{% block title %}
    Tous nos bien
{% endblock title %}


{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        
    </div>    
{% endblock body %}
